# Day 1: Variables and Data Types

# Variables:
- A variable is like a container or name tag that stores a value.

üì¶ Example:
If you have a box labeled fruit = "apple" ‚Äî
The box is the variable, and the value inside is "apple".

# ü§î Why Do We Use Variables?
We use variables to:

Store values (like numbers, text, etc.)

Use them again later in the program

Make our code easier to read and update

In [ ]:
#Without Variables:
print(10+20)

30

In [ ]:
#With Variables:
a=10
b=20
print(a+b)

30

# üõ†Ô∏è How to Use Variables in Python?
Very simple!
Just write the variable name, then =, then the value.
# ‚ú®Syntax:
variable_name= value

In [ ]:
# Store a number
age=23

# Store a text
name="Mainuddin"

# Store result of calculation
total=3+10+2+3

# Print Values
print(age)
print(name)
print(total)

23
Mainuddin
18

# üìå Rules for Variable Names
Start with a letter or underscore (_)

Can have letters, numbers, underscores

No spaces (use _ if needed)

Don‚Äôt use Python keywords like if, print, while

# üéØ Mini Task for You
Can you create a variable to store your:

Name?

Age?

Favorite color?

In [ ]:
# Name
my_name="Mainuddin"

# Age?
my_age=23

# Favorite color?
favorite_color="Light-Green"

# Print
print(my_name)
print(my_age)
print(favorite_color)

Mainuddin
23
Light-Green

# Data Types:

# üß† What are Data Types in Python?
Data types tell Python what kind of data a variable holds.

üì¶ Think of it like different types of containers:

Water bottle (holds liquid = float)

Box of pens (holds objects = list)

Jar with label = "Hello" (text = string)

# ü§î Why Are Data Types Important?
We need data types to:

Use data correctly (e.g., add numbers, not mix with text)

Avoid errors (like trying to multiply text with text)

Help Python understand what to do with the data

In [ ]:
a="5"
b=5
print(a+b)  #TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

# üõ†Ô∏è How to Use Data Types in Python?
Python figures out the data type automatically when you assign a value.

üîπ Common Python Data Types:
Data Type	  Used For	              Example
int	        Whole numbers	          age = 20
float	      Decimal numbers	        price = 99.99
str	        Text (string)	          name = "Momin"
bool	      True/False values	      is_online = True
list	      Collection of items	    fruits = ["apple", "banana"]
tuple	      Fixed collection	      coordinates = (10, 20)
dict	      Key-value pairs	        student = {"name": "Momin", "age": 20}
set	        Unique unordered items	colors = {"red", "green"}

#Double-Click to understand better

In [ ]:
# Integer
x = 10           # int

# Float
pi = 3.14        # float

# String
name = "Sara"    # str

# Boolean
is_happy = True  # bool

# List
colors = ["red", "blue"]  # list

# Tuple
location = (12, 45)        # tuple

# Dictionary
person = {"name": "Ali", "age": 21}  # dict

# Set
unique_numbers = {1, 2, 3}  # set

# üîç Bonus: How to Check a Variable‚Äôs Type

In [ ]:
# Use the type() function:
a=10
print(type(a))

<class 'int'>

# üéØ Practice Task for You
Can you create:

An int variable for your age?

A float for your height?

A str for your city name?

A list of 3 favorite foods?

In [ ]:
#An int variable for your age?
age = 23    #int

# A float for your height?
height= 5.65    #float

# A str for your city name?
city_name="Kerala"

# A list of 3 favorite foods?
favorite_foods=["Aloo-Matar","Biryani","Chinese"]

#  üß© 2. Solve 5 Beginner-Level Problems

In [1]:
#üêç Problem 1: Declare and print variables
name="Momin"
age= 23
print("Name: ",name)
print("Age: ",age)

Name:  Momin
Age:  23

In [2]:
#üêç Problem 2: Identify data types
a = 10
b = 3.14
c = "Python"
d = True

# Print types of each variables:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
#üêç Problem 3: Type casting
x="100"
y=int(x)

print(x, type(x))   #string
print(y, type(y))   #int

100 <class 'str'>
100 <class 'int'>

In [6]:
#üêç Problem 4: Swap two variables
a=10
b=20

a,b = b,a   # Pythonic way to swap variable

print("Value of a: ",a)
print("Value of b: ",b)

Value of a:  20
Value of b:  10

In [11]:
#üêç Problem 5: Create and print a dictionary

student= {
    "name" : "Momin",
    "age" : 23,
    "city" : "Kashmir",
    "course" : "Data-Science",
    "is_online" : True
}
#When creating a dictionary, the keys should typically be strings (enclosed in quotes) or other immutable data types, not undefined variables.

print(student)
print(type(student))
print(student["name"])
print(student["age"])
print(student["city"])
print(student["course"])
print(student["is_online"])

{'name': 'Momin', 'age': 23, 'city': 'Kashmir', 'course': 'Data-Science', 'is_online': True}
<class 'dict'>
Momin
23
Kashmir
Data-Science
True

# üß© 3. Solve 3 Intermediate-Level Problems

In [12]:
#üß† Problem 1: Count data types in a list

mixed_list = [1, "hello", 3.5, True, "world", False]

int_count=float_count= str_count= bool_count=0

for item in mixed_list:
  if type(item) == int:
    int_count+=1
  elif type(item) == float:
    float_count+=1
  elif type(item) == str:
    str_count+=1
  elif type(item) == bool:
    bool_count+=1

print("Integers: ",int_count)
print("Floats: ",float_count)
print("Strings: ",str_count)
print("Booleans: ",bool_count)

Integers:  1
Floats:  1
Strings:  2
Booleans:  2

In [18]:
#üß† Problem 2: Convert all data types to string
data = [1, 3.14, True, {"key": "value"}]
string_data=[str(item) for item in data]
print(string_data)
"""
for item in data:
  print(str(item))
  #print(type(str(item)))
print(string_data)
"""

1
3.14
True
{'key': 'value'}
{'key': 'value'}

In [ ]:
#(OPTIONAL: IF YOU WANT TO TRY, TRY IT...)
#üß† Problem 3: Create a summary dictionary of variable types
variables = {
    "name": "Momin",
    "age": 25,
    "height": 5.9,
    "is_student": True
}

summary = {key: type(value).__name__ for key, value in variables.items()}
print(summary)

# üßº 4. Best Practices for Variables and Data Types
‚úÖ Naming conventions
Use meaningful names: user_age instead of x

Follow snake_case for variables: total_score

‚úÖ Type safety
Use type() to check type if unsure

Use type casting to avoid errors

‚úÖ Commenting
Add comments to explain variables and logic

In [20]:
#‚úÖ Avoid magic values
# Bad
discounted_price = 100 - 20

# Good
DISCOUNT = 20
original_price = 100
discounted_price = original_price - DISCOUNT

print(discounted_price)

80

# HackerRank Programs

In [21]:
# 1. Hello, World!
if __name__ == '__main__':
    my_string="Hello, World!"
    print(my_string)

Hello, World!

In [22]:
# 2. Python If-Else
#!/bin/python3

import math
import os
import random
import re
import sys


if __name__ == '__main__':
    n = int(input().strip())

if n%2 == 1:
    print("Weird")

elif n % 2 == 0 and n in range(2,6):
    print("Not Weird")

elif n % 2 == 0 and n in range(6,21):     # 21 because range upper bound is exclusive.
    print("Weird")

elif n % 2 == 0 and n > 20:
    print("Not Weird")

23
Weird

In [23]:
# 3. Arithmetic Operators
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

2
3
5
-1
6

In [24]:
# 4. Python: Division
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

3
4
0
0.75

In [ ]:
#Day 1: Data Types
i = 4
d = 4.0
s = 'HackerRank '

# Declare second integer, double, and String variables.
j = 12
e = 4.0
t = 'is the best place to learn and practice coding!'

# Read and save an integer, double, and String to your variables.
j=int(input())
e=float(input())
t=str(input())
# Print the sum of both integer variables on a new line.
print(i+j)

# Print the sum of the double variables on a new line.
print(d+e)

# Concatenate and print the String variables on a new line
# The 's' variable above should be printed first.
print(s+t)