<a href="https://colab.research.google.com/github/mainuddin-01/DS-Learning-Journey/blob/main/day5_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

# üìÖ Day 5 ‚Äî Lists & Basic List Operations
Lists:
- collection
- ordered and changeable
- allowed duplicate members
- enclosed in []
- List --> Unhashable --> Mutable --> Read and Write
- A list is an ordered, mutable collection of items in Python.
- You can store numbers, strings, or even a mix of data types.

Syntax:
- my_list = [1, 2, 3, 4]  # list of numbers
- names = ["Alice", "Bob", "Charlie"]  # list of strings

# ‚úÖ Key Operations:
- Access Element: my_list[0] # (First Element)
- Append --> my_list.append[5] # (add at end)
- Insert --> my_list.insert(2, 99) # (adds at position 2)
- Remove --> my_list.remove(3) # (Remove the first occurrance of 3)
- Pop   ---> my_list.pop() # Remove ast item, return it)
- Indexing & Slicing ‚Üí my_list[1:3] # (gives sublist from index 1 to 2)
- Length ‚Üí len(my_list)

# When to use?
- To store multiple related values together.
- When you need to dynamically add/remove elements during program execution.

# üîë Most Commonly Used List Operations in Python

1Ô∏è‚É£ Creating a List

In [ ]:
my_list = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4]
mixed = [1, "hello", 3.14]
print(my_list)
print(numbers)
print(mixed)

['apple', 'banana', 'cherry']
[1, 2, 3, 4]
[1, 'hello', 3.14]

2Ô∏è‚É£ Accessing Elements

In [ ]:
print(my_list[0])
print(numbers[1])
print(mixed[-1])

apple
2
3.14

3Ô∏è‚É£ Adding Elements

In [ ]:
my_list.append('Dates') # Add element to last
numbers.insert(2, 5)  # Add elemnet to the specific index
print(my_list)
print(numbers)
numbers.extend(my_list)# Add multiple elements

['apple', 'banana', 'cherry', 'Dates', 1, 2, 5, 3, 4, 'Dates', 1, 2, 5, 5, 3, 4, 'Dates', 'Dates', 'Dates', 'Dates']
[1, 2, 5, 5, 5, 5, 5, 5, 3, 4, 'apple', 'banana', 'cherry', 'Dates', 1, 2, 5, 3, 4, 'Dates', 1, 2, 5, 5, 3, 4, 'Dates', 'Dates', 'Dates']

4Ô∏è‚É£ Removing Elements

In [ ]:
numbers.remove(3)   # Removes first occurrence of 99
numbers.pop()        # Removes last element
numbers.pop(1)       # Removes element at index 1
numbers.clear()      # Removes all elements (makes list empty)
print(my_list)
print(numbers)

[]
[]

5Ô∏è‚É£ Updating Elements

In [ ]:
numbers = [1, 2, 3, 4]
numbers[1] = 99
print(numbers)

[1, 99, 3, 4]

6Ô∏è‚É£ Searching / Checking

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(3 in numbers)     # True (checks if element exists)
print(numbers.index(4)) # Returns index of first 4
print(numbers.count(2)) # Counts how many times 2 appears

True
3
1

7Ô∏è‚É£ Sorting & Reversing

In [ ]:
numbers = [4, 2, 9, 1, 7]
numbers.sort()          # Sorts in ascending order
numbers.sort(reverse=True) # Sorts in descending order
numbers.reverse()       # Reverses the list order
print(numbers)

[1, 2, 4, 7, 9]

8Ô∏è‚É£ Slicing

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])   # [20, 30, 40]
print(numbers[:3])    # [10, 20, 30] (from start)
print(numbers[2:])    # [30, 40, 50] (till end)
print(numbers[::-1])  # Reverse list

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[50, 40, 30, 20, 10]

9Ô∏è‚É£ Copying

In [ ]:
new_list = numbers.copy()  # Creates a copy (safe way)
print(new_list)

[10, 20, 30, 40, 50]

üîü Useful Built-in Functions

In [ ]:
numbers = [10, 20, 5, 30]
print(len(numbers))   # 4 (length)
print(max(numbers))   # 30 (largest)
print(min(numbers))   # 5 (smallest)
print(sum(numbers))   # 65 (total sum)

4
30
5
65

- # 2Ô∏è‚É£ Code Examples

Example A ‚Äî Creating & Accessing Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # apple
print(fruits[-1])  # cherry (negative index = from end)

apple
cherry

Example B ‚Äî Adding & Removing Elements

In [ ]:
numbers = [10, 20, 30]
numbers.append(40)  # Used to add elemenrts
numbers.insert(1,0.10)  # Used to insert an element at a specific index number
numbers.remove(20)  # Used to remove element of first occurrance
print(numbers)

[10, 0.1, 30, 40]

Example C ‚Äî Looping Through Lists

In [ ]:
friends = ["Akash", 'Bhuvnesh', 'Chetan', "Dhavesh"]
for name in friends: # Used to do looping through list
  print("Hello", name)

Hello Akash
Hello Bhuvnesh
Hello Chetan
Hello Dhavesh

# 3Ô∏è‚É£ Practice Exercises
- 1.	Create a list of 5 subjects, print them one by one using a for loop.

In [ ]:
subjects = ["Algebra", "Geometry", 'Calculus', 'Statistics', "Probability"]
for subject in subjects:
  print(subject)

Algebra
Geometry
Calculus
Statistics
Probability

- 2.	Take 5 numbers as input, store them in a list, print sum and average.

In [ ]:
print("Take 5 numbers as a input: ")
number = [] # Empty list to store numbers
total_sum = 0 # Initialize to calculate the sum

for i in range(5):
  my_numbers = int(input("Enter 5 numbers: ")) # Take input from user
  number.append(my_numbers)
  total_sum += numbers #Add numbers
  avg = total_sum / 5 # Calculate avera

print("Sum: ", total_sum)
print("Average: ", avg)
print("Total numbers: ", number)

Take 5 numbers as a input:
Enter 5 numbers: 45
Enter 5 numbers: 54
Enter 5 numbers: 64
Enter 5 numbers: 24
Enter 5 numbers: 46
Sum:  225
Average:  45.0
Total numbers:  [45, 54, 64, 24, 46]

- 3.	Write a program to remove all negative numbers from a list.

In [ ]:
# original list
my_list = [1, -4, -7, 6, 86, -1]

positives_list = [] # Positive list
for num in my_list:
  if num >= 0:
    positives_list.append(num)
print("Original list: ", my_list)
print("Positive list: ", positives_list)

Original list:  [1, -4, -7, 6, 86, -1]
Positive list:  [1, 6, 86]

- 4.	Find the largest and smallest number in a list.

In [ ]:
# Program to find largest and smallest number in a list

numbers = [12, 45, 7, 89, 34, 2, 67]

#Assumption
largest =numbers[0]
smallest =numbers[0]

for num in numbers:
  if num > largest:
    largest = num
  elif num < smallest:
    smallest = num

print("Largest Number in List: ", largest)
print("Smallest Number in List: ", smallest)

Largest Number in List:  89
Smallest Number in List:  2

In [ ]:
numbers = [12, 45, 7, 89, 34, 2, 67]
print("Largest:", max(numbers))
print("Smallest:", min(numbers))

Largest: 89
Smallest: 2

- 5.	Reverse a list without using reverse() (use slicing).

In [ ]:
# Program to reverse a list without using reverse()

numbers = [1, 2, 3, 4, 5]

reversed_list = numbers[ : : -1]  #Slicing

print("Original List: ", numbers)
print("Reversed List: ", reversed_list)

Original List:  [1, 2, 3, 4, 5]
Reversed List:  [5, 4, 3, 2, 1]

# 4Ô∏è‚É£ Mini Project ‚Äî Student Report Card (List Upgrade)
Extend your Student Report Card CLI from Day 6:
- Store each student‚Äôs record as a list: [name, marks, total, percentage, grade].
- Keep a master list of all students.
- At the end, loop through this list to print a summary report (students passed/failed, highest scorer, etc.).

In [ ]:
import csv

print("----- Student Report Card (List Upgrade) -----")

# Master list to store all student records
students = []

# Ask how many students to enter
num_students = int(input("Enter number of students: "))

for i in range(num_students):
    print(f"\n--- Enter details for Student {i+1} ---")
    name = input("Enter Student Name: ")

    # Input marks
    marks = []
    subjects = ["Math", "Science", "English", "Social", "Computer"]

    for subject in subjects:
        score = int(input(f"{subject}: "))
        marks.append(score)

    total = sum(marks)
    percentage = total / len(marks)

    # Grade Calculation
    if any(m < 40 for m in marks):
        grade = "F"
    elif percentage >= 90:
        grade = "A+"
    elif percentage >= 75:
        grade = "A"
    elif percentage >= 60:
        grade = "B"
    elif percentage >= 40:
        grade = "C"
    else:
        grade = "F"

    # Store student record as a list
    student_record = [name, marks, total, round(percentage, 2), grade]
    students.append(student_record)

# Write all student data to CSV
with open("reports.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Marks", "Total", "Percentage", "Grade"])
    writer.writerows(students)

# Summary Report
print("\n----- Summary Report -----")
print(f"Total Students: {len(students)}")

passed = sum(1 for s in students if s[-1] != "F")
failed = len(students) - passed
print(f"Passed: {passed}")
print(f"Failed: {failed}")

# Highest scorer
highest = max(students, key=lambda x: x[2])
print(f"Topper: {highest[0]} with {highest[2]} marks ({highest[-1]})")

print("\nAll records saved to reports.csv ‚úÖ")

----- Student Report Card (List Upgrade) -----
Enter number of students: 2

--- Enter details for Student 1 ---
Enter Student Name: Mainuddin
Math: 54
Science: 78
English: 97
Social: 567
Computer: 78

--- Enter details for Student 2 ---
Enter Student Name: 78
Math: 54
Science: 45
English: 45
Social: 75
Computer: 75

----- Summary Report -----
Total Students: 2
Passed: 2
Failed: 0
Topper: Mainuddin with 874 marks (A+)

All records saved to reports.csv ‚úÖ