# Day 9 — Strings

# 1️⃣ Topic of the Day — Strings (short, beginner-friendly)

What:
- Strings are sequences of characters (text).
- They’re immutable — you can’t change a character in-place, but you can create new strings from old ones.

When to use:
- Whenever you handle names, messages, CSV lines, file paths, input parsing, formatting output, etc.

Common methods:
- .strip(),
- .lower(),
- .upper(),
- .split(),
- .join(),
- .replace(),
- .find(),
- .count(),
- .format() / f-strings — use these to clean, parse and format text. (Python documentation)

Syntax snippets:

In [ ]:
s = "  Hello, World!  "
print(s.strip())  # Remove spaces from beginning and from end
print(s.lower())  # Convert uppercase to lowercase
print(s.upper())  # Convert lowercase to uppercase
print(s.split())  # Convert into list and separate the strings
print("-".join(s))  # Joins the each character with separator
print(s.find('o'))  # Returns the first occurrance of charater
print(s.count("o")) # Count the character occurrance
print(f"{ s.strip()} in Python Programming")

Hello, World!
  hello, world!
  HELLO, WORLD!
['Hello,', 'World!']
 - -H-e-l-l-o-,- -W-o-r-l-d-!- -
6
2
Hello, World! in Python Programming

# 2️⃣ Code Examples (2–3 practical, commented)

Example 1 — clean & normalize a name

In [ ]:
name = "   joHN   doE  "
clean = name.strip().title()  # Remove space(strip()) + first character capital(title())
print(clean)

John   Doe

Example 2 — parse comma-separated subjects

In [ ]:
s = "math, science, english"
new_list = []
for sub in s.split(","):
  subjects =  sub.strip().title()
  new_list.append(subjects)
print(new_list)

subjects = [sub.strip().title() for sub in s.split(",")]
# strip(): Remove space, title(): Capital first letter,
# split(): It splits a string into a list.
print(subjects)

['Math', 'Science', 'English']
['Math', 'Science', 'English']

Example 3 — count vowels & check palindrome

In [ ]:
# Vowels count
def count_vowels(s):
  s = s.lower() # mainuddin
  return sum(1 for ch in s if ch in "aeiou")

print(count_vowels("Mainuddin"))

# Palindrome = same from forward and backward
def is_pal(s):
  s =s.lower().replace(" ", "")
  # s = "".join(ch for ch in s if ch.isalnum())
  return s == s[::-1]

print(is_pal("A man, a plan, a canal: Panama"))

4
False

# 3️⃣ Practice Exercises (easy → slight challenge):
- Write and run these with multiple test cases:

1.	Print first and last character of a string.

In [ ]:
s = "Hello, World!"
print("First Character: ",s[0],"\nLast Character: ",s[-1])
# Return First and last character.

First Character:  H
Last Character:  !

2.	Reverse a string (s[::-1]).

In [ ]:
s = "Hello, World!"
print(s[::-1])
# Return reverse string

!dlroW ,olleH

3.	Count vowels in a sentence (case-insensitive).

In [ ]:
sentence_ ="A curious owl sees a unique area of oasis."
Sum = 0
for ch in sentence_:
  if ch in "aeiouAEIOU":
    Sum += 1
print(f"Count of vowels in sentence: {Sum}")

Count of vowels in sentence: 20

4.	Check palindrome ignoring spaces & punctuation.

In [ ]:
def is_pal(s):
  s = s.lower().replace(" ",'')
  return s == s[::-1]
s = input("Enter a string: ")
print(is_pal(s))

Enter a string: madam
True

5.	Replace all occurrences of "Java" with "Python" in a sentence.

In [ ]:
sentence = "Java is fun because Java helps Java developers learn Java while drinking Java coffee in a Java café."
replaced_sentence = sentence.replace("Java", "Python")
print(replaced_sentence)

Python is fun because Python helps Python developers learn Python while drinking Python coffee in a Python café.

6.	Given "apple,banana,grape", split into list then join with spaces.

In [ ]:
def split_join(s):
  split_list = s.split(",")
  result = " ".join(split_list)
  return result

s = input("Enter a string: ")
print(split_join(s))

Enter a string: apple,banana,grape
apple banana grape

# Solve Remaining Examples after ZOhr