<a href="https://colab.research.google.com/github/mainuddin-01/DS-Learning-Journey/blob/main/1_Python/day8_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1️⃣ Topic of the Day — Python Sets

Key Points:
- A set is an unordered, mutable collection of unique items.
- Duplicate values are automatically removed.
- Set --> Unhashable --> Mutable --> Read and Write
- Useful for:
  - Removing duplicates from a list
  - Fast membership tests (x in set)
  - Mathematical set operations: union, intersection, difference

Syntax:

In [9]:
# Create a set:
my_set = {1, 2, 3}

# Empty set must use set()
empty_set = set() # empty set use set() o.w error occur: invalid syntax set{}
print(empty_set)

# Add element
my_set.add(4)
print(my_set)

# Remove element
my_set.remove(2)
print(my_set)

# Duplicate values are removed automatically
my_set = {1, 1, 2, 3, 5, 6, 5, 6}
print(my_set)

my_set.add(2)
print(my_set)

my_set.add(2)
print(my_set)

my_set.discard(4)
print(my_set)

set()
{1, 2, 3, 4}
{1, 3, 4}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}

# 2️⃣ Code Examples (with explanations)

# Example 1: Create a set (automatically duplicate removed)

In [10]:
# Create a set (automatically duplicate removed)
fruits = {"Apple", "Apple", "Banana", "carrot", "carrot"}
print(fruits)

{'Apple', 'Banana', 'carrot'}

Add new items

In [11]:
fruits.add("Cherry")
print(fruits)

{'Apple', 'Banana', 'Cherry', 'carrot'}

Check Membership

In [13]:
if "Carrot" in fruits:
    print("Carrot is in the set")
else:
    print("Carrot is not in the set")

Carrot is not in the set

# Example B — Set Operations

In [14]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

# Mathematical operations
print(a | b)  # Union
print(a & b)  # Intersection
print(a - b)  # Difference
print(a ^ b)  # Symmetric Difference

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# Example C — Remove Duplicates from List

In [17]:
my_list = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
unique_list = list(set(my_list))  # Duplicats removed
print(unique_list)  # # Order may change because sets are unordered

[1, 2, 3, 4, 5]

# 3️⃣ Practice Exercises

1, create a set of numbers 1 to 5, add 6, and remove 3. Print final set.

In [18]:
# Set of numbers
num = {1, 2, 3, 4, 5}
print(num)

# Add 6
num.add(6)
print(num)

# Remove 3
num.remove(3)
print(num)
#

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

2.	Write a program that takes a list with duplicates and returns a list with unique items (hint: use set()).

In [19]:
dup_list = [1, 1, 2, 3, 7, 7, 8, 8, 5, 5]
unique_list = list(set(dup_list))
print(unique_list)

[1, 2, 3, 5, 7, 8]

3.	Given two sets A and B, find:
- Union, Intersection, Difference, Symmetric Difference
- Test with multiple data sets

In [20]:
A = {5, 4, 3, 2, 1}
B = {1, 2, 3, 4, 5}

# Union
print(A | B)

# Intersection
print(A & B)

# Difference
print(A - B)

# Symmetric difference
print(A ^ B)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
set()
set()

4.	Write a program to check if two sets are disjoint (no common elements).

In [23]:
A = {5, 4, 3, 2, 1}
B = {1, 2, 3, 4, 5}

print(A.isdisjoint(B))

False