<a href="https://colab.research.google.com/github/mainuddin-01/DS-Learning-Journey/blob/main/day6_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1Ô∏è‚É£ Topic of the Day ‚Äî Tuples

# What are Tuples?
- Tuples are ordered collections like lists, but immutable (cannot be changed after creation).
- They are written using parentheses ( ) instead of square brackets [ ].
- They are faster than lists and are often used for fixed data (like coordinates, RGB colors, database rows).
- Tuple --> Hashable --> immutable --> Read only

# Key Points
- Can store mixed data types (int, float, string, list inside tuple, etc.).
- Support indexing, slicing, iteration, just like lists.
- You cannot add, remove, or change elements once created.

# Syntax

- 1. Creating a Tuple.

In [ ]:
MyTuple = (1, 2, 3)
single_tuple = ("a", )  # Important: For single tuple comma is needed

- 2. Accessing elements

In [ ]:
MyTuple = (1, 2, 3)
print(MyTuple)

single_tuple = ("a", )   # Important: For single tuple comma is needed
print(single_tuple)

(1, 2, 3)
('a',)

- 3. Tuple Unpacking

In [ ]:
MyTuple = (1, 2, 3)
x, y, z = MyTuple # Tuple unpacking.
print(x, y, z)

1 2 3

# 2Ô∏è‚É£ Code Examples

Example 1 ‚Äî Creating and Accessing

In [ ]:
my_tuple = ("Moin", 1, -1, True)
print(my_tuple[-1])
print(my_tuple[3])

True
True

Example 2 ‚Äî Tuple Unpacking
- Tuple unpacking (assign to variables)

In [ ]:
my_tuple = ("Moin", 1, -1, True)
name, *other = my_tuple
print(name)
print(other)

Moin
[1, -1, True]

In [ ]:
point = (10, 20)
x, y = point
print(f"x = {x}, y = {y}")  # x = 10, y = 20

x = 10, y = 20

Example 3 ‚Äî Using Tuples in a Function
- Function returning a tuple

In [ ]:
def min_max(MyTuple):
  return min(MyTuple), max(MyTuple)

MyTuple = (212, 32, 53, 52, 42)
smallest, largest = min_max(MyTuple)
print(smallest)
print(largest)

32
212

# 3Ô∏è‚É£ Practice Exercises


1.	Create a tuple with numbers 1, 2, 3, 4, 5 and print the second element.

In [ ]:
MyTuple = (1, 2, 3, 4, 5)
print(MyTuple[1])

2

2.	Create a tuple with mixed data types (int, string, float) and print each using a loop.

In [7]:
MixedTuple = (12, "Toufik", 3.14)
for element in MixedTuple:  # for is used
  print(element)

12
Toufik
3.14

3.	Write a program to swap two variables using tuple unpacking.

In [ ]:
Swap_Variables = (3, 2)
a, b = Swap_Variables
print(f"a = {a}, b = {b}")  # a = 3, b = 2
a, b = b, a
print(f"a = {a}, b = {b}")  # a = 2, b = 3

a = 3, b = 2
a = 2, b = 3

4.	Write a program that converts a list [1, 2, 3] into a tuple and prints it.

In [2]:
MyList = [12, "Toufik", 3.14]
MyTuple = tuple(MyList) # Typecasting is used
print(MyTuple)
print(type(MyTuple))

(12, 'Toufik', 3.14)
<class 'tuple'>

5.	Write a program that counts how many times 10 appears in (10, 20, 10, 30, 10).

In [3]:
MyTuple = (10, 20, 10, 30, 10)
print(MyTuple.count(10))  # Using count, we can count of element

3

6.	Write a program that finds the index of 30 in (10, 20, 30, 40).

In [4]:
MyTuple = (10, 20, 30, 40)
print(MyTuple.index(30))  # Using index, we can find index number of element

2

7.	Write a program that joins two tuples (1, 2, 3) and (4, 5, 6) into one.

In [6]:
Tuple1 = (1, 2, 3)
Tuple2 = (4, 5, 6)
Tuple1 = Tuple1 + Tuple2 # Using concatenation 2 tuples are joined
print(Tuple1)

(1, 2, 3, 4, 5, 6)

# 4Ô∏è‚É£ Mini Project / Task
Mini Task:
- Create a tuple of 5 student names, then print each name using a for loop.
- Then, unpack the first three names into variables s1, s2, s3 and print them.

In [14]:
names = ("Suresh", "Akash", "Vasim", "Ramchandra", "Vijay")
for name in names:
  print(name)
s1, s2, s3 = names[ : 3]
print(s1, s2, s3)

Suresh
Akash
Vasim
Ramchandra
Vijay
Suresh Akash Vasim

# 5Ô∏è‚É£ Topic-wise HackerRank Problems üî•
Task
Given an integer, , and  space-separated integers as input, create a tuple, , of those  integers. Then compute and print the result of .

Note: hash() is one of the functions in the __builtins__ module, so it need not be imported.

Input Format

The first line contains an integer, , denoting the number of elements in the tuple.
The second line contains  space-separated integers describing the elements in tuple .

Output Format

Print the result of hash(t).

In [12]:
n = int(input())

numbers = map(int, input().split())

t = tuple(numbers)

print(hash(t))

2
1 2
2
-3550055125485641917